h1{
    font-size: 2.5rem;
    color: #707070;
    font-weight: bold;
    content: 'Titulo';

}

.navbar {
    background-color: #005f73;
}

.divider {
    height: 1px; width: 100%; background-color: #aeaeae;
}
.btn-car {
    background-color: #079ebe;
    font-size: 1.0rem;
}

.text-total {
    font-size: 1.5rem;
    color: #196374;
    font-weight: bold;
}

.text-value {
    color: #196374;
}

.flex-colunm-between {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

@media (max-width:  576px) {
    .text-total {
    font-size: 1.8rem;
    color: #050505;
    font-weight: bold;
    }
    .btn-car {
    background-color: #079ebe;
    font-size: 1.4rem;
    }
}
